<p id="notice"><%= notice %></p>
<div id="tagbox">
<p>
  <b>Url:</b>
  <%= @bookmark.url %> <br/>
  <b>Title:</b>
  <%= @pagetitle %>
</p>

<b>Tags:</b>
<% @bookmark.tags.each do |tag| -%>
    <div>
      <%= tag.name -%>
    </div>
  <% end -%>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
</div>
